@charset "UTF-8";
* {
  box-sizing: border-box; }

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0; }

body {
  font: 12px "宋体", "Arial Narrow", HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  overflow: auto !important; }

a {
  color: #2d374b;
  text-decoration: none; }

a:hover {
  color: #cd0200;
  text-decoration: underline; }

em {
  font-style: normal; }

li {
  list-style: none; }

img {
  border: 0;
  vertical-align: middle; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  word-wrap: break-word; }

.logo img {
  width: 100%;
  height: 100%; }

main.login {
  background: #83af9b;
  width: 100%;
  height: 100%;
  display: block; }
  main.login .main-title {
    width: 100%;
    margin-top: 5em; }
  main.login .text {
    padding: 2em 2em; }
    main.login .text .tips {
      font-size: 1.8em;
      color: #e0f6e0;
      font-family: "华康方圆体W7(P)"; }
    main.login .text .login-box {
      font-family: '苹方';
      margin-top: 1em;
      position: relative; }
      main.login .text .login-box img {
        width: 0.29rem;
        position: absolute;
        left: 0.4rem;
        top: 30%; }
      main.login .text .login-box .phone {
        width: -webkit-fill-available; }
      main.login .text .login-box input {
        font-size: 0.4rem;
        border: 3px solid #c8c8a9;
        border-radius: 20px;
        height: 1.2rem;
        line-height: 1.2rem;
        padding-left: 1rem;
        background: white; }
      main.login .text .login-box span {
        height: 1.2rem;
        display: inline-block;
        line-height: 1.2rem;
        border-radius: 20px;
        padding: 0 0.4rem;
        text-align: center;
        font-size: 0.46rem; }
      main.login .text .login-box .get-code {
        background: #c8c8a9;
        color: white;
        font-weight: bold; }
      main.login .text .login-box .login-button {
        color: white;
        font-weight: bold;
        background: #e08031;
        width: 100%;
        margin-top: 0.8rem; }
      main.login .text .login-box .information {
        color: #000000;
        font-size: 0.3rem;
        width: 100%; }

.index {
  margin-bottom: 1.213rem;
  display: none; }
  .index .header {
    display: fix;
    top: 0;
    background: #83af9b;
    height: 1.2rem; }
    .index .header .navbar,
    .index .header .subnavbar,
    .index .header .toolbar {
      background: #83af9b; }
    .index .header .navbar,
    .index .header .toolbar {
      height: 1.2rem; }
      .index .header .navbar .left img,
      .index .header .toolbar .left img {
        width: 1.066rem; }
      .index .header .navbar .right img,
      .index .header .toolbar .right img {
        width: 0.7rem; }
      .index .header .navbar .center,
      .index .header .toolbar .center {
        color: white;
        font-family: '苹方'; }

.index.show {
  display: block; }

.swiper-wrapper img {
  width: 100%; }

.clear {
  clear: both;
  height: 1px;
  display: block; }

.main {
  padding: 0 0.267rem;
  background: #e0dbe0; }
  .main .box {
    background: white;
    margin: 0.1rem 0; }
    .main .box a {
      display: block; }
      .main .box a img {
        width: 100%; }
    .main .box .goods {
      height: 3.5rem;
      position: relative; }
      .main .box .goods img {
        width: 100%; }
      .main .box .goods .price {
        position: absolute;
        bottom: 0.1rem;
        right: 3.5rem;
        font-size: 0.565rem;
        color: #00bdaa;
        font-weight: bold; }
      .main .box .goods .numbers {
        position: absolute;
        bottom: 0.2rem;
        right: 0.5rem;
        color: #585858;
        font-size: 0.284rem; }
  .main .box-title {
    padding: 0.267rem 0.267rem;
    margin-top: 0.267rem;
    position: relative; }
    .main .box-title span {
      font-size: 0.47rem;
      vertical-align: middle; }
    .main .box-title a.right {
      position: absolute;
      right: 0.2rem;
      bottom: 0.2rem; }
      .main .box-title a.right span {
        font-size: 0.32rem; }

.toolbar {
  position: fixed;
  bottom: 0;
  height: 1.5rem !important; }
  .toolbar .toolbar-inner a img {
    width: 0.83rem; }

.tab-2 .center {
  position: relative; }
  .tab-2 .center input {
    width: 6rem;
    height: 0.77rem;
    display: block;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding-left: 0.8rem; }
  .tab-2 .center .icon-search {
    position: absolute;
    width: 0.373rem;
    left: 0.3rem; }
  .tab-2 .center .input-search {
    font-weight: normal;
    margin-left: 0.2rem; }
.tab-2 .box {
  height: 3rem;
  border-top: 1px solid #ddd;
  padding: 0.41rem 0.44rem; }
  .tab-2 .box .box-left {
    width: 2.8rem;
    display: inline-block; }
    .tab-2 .box .box-left img {
      width: 100%; }
  .tab-2 .box .box-right {
    display: inline-block;
    margin-left: 0.53rem;
    width: 5.66rem;
    height: 100%;
    float: right; }
    .tab-2 .box .box-right h2 {
      font-size: 0.373rem;
      color: #000;
      display: inline-block; }
    .tab-2 .box .box-right p {
      font-size: 0.266rem;
      margin-top: 0.1rem; }
      .tab-2 .box .box-right p i {
        color: #00bdaa;
        font-style: normal; }
    .tab-2 .box .box-right .icon-right {
      float: right;
      font-size: 0.5rem;
      font-weight: bold; }
    .tab-2 .box .box-right .tips1 {
      border: 1px solid #0a94ff;
      border-radius: 5px;
      padding: 3px;
      color: #0a94ff;
      font-size: 0.32rem;
      margin-top: 0.1rem;
      display: inline-block; }
    .tab-2 .box .box-right .tips2 {
      border: 1px solid #3dd93d;
      border-radius: 5px;
      padding: 3px;
      color: #3dd93d;
      font-size: 0.32rem;
      margin-top: 0.1rem;
      display: inline-block; }

/*# sourceMappingURL=app.css.map */
