@charset "UTF-8";
* {
    box-sizing: border-box;
}

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}

body {
    font: 12px"宋体", "Arial Narrow", HELVETICA;
    background: #fff;
    -webkit-text-size-adjust: 100%;
}

a {
    color: #2d374b;
    text-decoration: none
}

a:hover {
    color: #cd0200;
    text-decoration: underline
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

//logo页面
.logo {
    img {
        width: 100%;
        height: 100%;
    }
}

//login页面
main.login {
    background: #83af9b;
    width: 100%;
    height: 100%;
    display: block;
    .main-title {
        width: 100%;
        margin-top: 5em;
    }
    .text {
        padding: 2em 2em;
        .tips {
            font-size: 1.8em;
            color: #e0f6e0;
            font-family: "华康方圆体W7(P)";
        }
        .login-box {
            font-family: '苹方';
            margin-top: 1em;
            position: relative;
            img {
                width: 0.29rem;
                position: absolute;
                left: 0.4rem;
                top: 30%;
            }
            .phone {
                width: -webkit-fill-available;
            }
            input {
                font-size: 0.4rem;
                border: 3px solid #c8c8a9;
                border-radius: 20px;
                height: 1.2rem;
                line-height: 1.2rem;
                padding-left: 1rem;
                background: white;
            }
            span {
                height: 1.2rem;
                display: inline-block;
                line-height: 1.2rem;
                border-radius: 20px;
                padding: 0 0.4rem;
                text-align: center;
                font-size: 0.46rem;
            }
            .get-code {
                background: #c8c8a9;
                color: white;
                font-weight: bold;
            }
            .login-button {
                color: white;
                font-weight: bold;
                background: #e08031;
                width:100%;
                margin-top:0.8rem;
            }
            .information{
                 color: #000000;
                 font-size: 0.3rem;
                 width:100%;
            }
        }
    }
}
// 首页
.index{

    .header{
        display:fix;
        top:0;
        background: #83af9b;
        height:1.2rem;
        .navbar, .subnavbar, .toolbar{
             background: #83af9b;
        }
        .navbar, .toolbar{
            height:1.2rem;
            .left img{
                width:1.066rem;
            }
            .right img{
                width:0.7rem;
            }
            .center{
                color:white;
                font-family: '苹方';
            }
        }
    }
}
.swiper-wrapper img{
    width:100%;
}
.clear{
    clear: both;
    height:1px;
    display:block;
}
.main{
    padding:0 0.267rem;
    background: #e0dbe0;
    .box{
        background: white;
        margin:0.267rem 0;
       
        a{
            display:block;
             img{
            width:100%;
        }
        }
       
    }
    .box-title{
         padding:0.267rem 0.267rem;
         position: relative;
         span{
             font-size: 0.47rem;
             vertical-align: middle;
         }
         a.right{
             position: absolute;
             right:0.2rem;
             bottom:0.2rem;
             span{
                 font-size: 0.32rem;

             }
         }
    }
}